# Base de données
MONGO_URI=
REDIS_URI=

# Authentification (Microsoft Entra ID / SSO EPFL)
AUTH_ENTRA_CLIENT_ID=
AUTH_ENTRA_CLIENT_SECRET=
AUTH_ENTRA_TENANT_ID=
AUTH_SECRET=
AUTH_URL=

# API EPFL (personnes, unités)
EPFL_API_URL=
EPFL_API_USERNAME=
EPFL_API_PASSWORD=

# Notifications Telegram (alertes)
TELEGRAM_BOT_TOKEN=
TELEGRAM_IDS=
