body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App-logo {
  height: 40px; 
}
.faculty-tags-select, .institute-tags-select, .fieldOfResearchTags-tags-select {
  width: 33%;
}

th.special, td.special {
  overflow: hidden;
  max-width: 250px;
  width: 100%;
}

.edit {
  float: right;
  padding-right: 20px;
}

th.log-status, td.log-status {
  overflow: hidden;
  max-width: 400px;
  width: 100%;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

.w-5 { width: 5% !important; }
.w-10 { width: 10% !important; }
.w-12 { width: 12% !important; }
.w-15 { width: 15% !important; }
.w-30 { width: 30% !important; }

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px
}

.ribbon {
  font-size: 12px;
  color: #007bff;
  text-transform: uppercase;
  font-family: 'Montserrat Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: .05em;
  line-height: 15px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  right: 20px;
  top: 21px;
  width: 140px;
  height: 28px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  background-color: #dedede;
  background-image: -webkit-linear-gradient(top, #ffffff 45%, #dedede 100%);
  background-image: -o-linear-gradient(top, #ffffff 45%, #dedede 100%);
  background-image: linear-gradient(to bottom, #ffffff 45%, #dedede 100%);
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdedede', GradientType=0);
  z-index: 1000;
}

.ribbon:before,
.ribbon:after {
  content: "";
  border-top: 3px solid #9e9e9e;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px
}

.ribbon:before {
  left: 0
}

.ribbon:after {
  right: 0
}

#search {
  width: 795px;
  height: 38px;
}

#openshift-env-list {
  width: 395px;
  height: 38px;
  margin-top: 5px !important; 
  margin-right: 5px;
}

#theme-list {
  margin-top: 5px !important;
  width: 395px;
  height: 38px;
}

#languages-checkbox {
  width: 750px !important;
  margin-top: 5px !important; 
}
#languages-checkbox label {
  display: inline !important;
}
