body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App-logo {
  height: 40px; 
}
.faculty-tags-select, .institute-tags-select, .fieldOfResearchTags-tags-select {
  width: 33%;
}

th.special, td.special {
  overflow: hidden;
  max-width: 250px;
  width: 100%;
}

.edit {
  float: right;
  padding-right: 20px;
}

th.log-status, td.log-status {
  overflow: hidden;
  max-width: 400px;
  width: 100%;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

.w-5 { width: 5% !important; }
.w-10 { width: 10% !important; }
.w-12 { width: 12% !important; }
.w-15 { width: 15% !important; }
